<?xml version="1.0" encoding="utf-8"?>
<RunSettings><DataCollectionRunSettings><DataCollectors><DataCollector friendlyName="XPlat Code Coverage"><Configuration>
<Format>cobertura</Format><Include>[CloudShopping.Domain]*,[CloudShopping.Application]*</Include>
<ExcludeByAttribute>GeneratedCodeAttribute</ExcludeByAttribute>
</Configuration></DataCollector></DataCollectors></DataCollectionRunSettings></RunSettings>
